.Menu {
  background-color: white;
  position: absolute;
  z-index: 100;
  padding: 15px;
  border-radius: 5px;
  margin-top: 5px;
  display: none;
}
.logout {
  display: block;
  max-width: 150px;
  margin: auto;
  color: #acc8e5;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #22313f;
  border-color: #22313f9a;
  text-decoration: none;
  box-shadow: none;
}
.container {
  display: flex;
  flex-wrap: wrap;
}
.btn {
  height: fit-content;
  background-color: whitesmoke;
  color: black;
  text-decoration: none;
  padding: 5px;
  border-radius: 5px;
  margin: 5px;
}
.btn:hover {
  color: black;
  background-color: rgb(209, 209, 209);
}
