.loginBox {
  display: flex;
  flex-direction: column;
  background-color: white;
  border: grey;
  height: auto;
  margin: auto;
  border-radius: 5px;
  padding: 10px;
  max-width: 400px;
  box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.65);
  -webkit-box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.65);
  -moz-box-shadow: 0px 0px 50px -6px rgba(0, 0, 0, 0.65);
}

.loginBox input {
  margin: 5px auto;
}
.page {
  height: 100vh;
  width: 100vw;
}
.loginBtn {
  display: block;
  max-width: 150px;
  margin: auto;
  color: #acc8e5;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #22313f;
  border-color: #22313f9a;
  text-decoration: none;
  box-shadow: none;
}
.ErrorMessage {
  color: salmon;
  font-size: 0.5 em;
  background-color: red;
}

@media (min-width: 1501px) {
  .page {
    width: 100vw;
    min-height: 100vh;
    height: auto;
  }
  .loginBox {
    height: fit-content;
    width: fit-content;
    min-width: 500px;
  }
  .title {
    font-size: 2em;
  }
  .loginBox input {
    width: 300px;
    height: 25px;
  }
}
