.mainCard {
  margin: 15px;
  padding-bottom: 5px;
}

@media only screen and (max-width: 490px) {
  .mainCard {
    margin: auto;
  }
}

.readMore {
  text-decoration: none;
}
.tracks {
  width: fit-content;
  padding: 4px;
  border-radius: 15px;
  margin-left: 5px;
  transition: ease-in 0.3s;
}
.tracks:hover {
  background-color: #bac1b8;
}

.ShowBtn {
  color: #acc8e5;
  padding: 5px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #22313f;
  border-color: #22313f9a;
  animation: drop 1s;
}

@keyframes drop {
  from {
    transform: translateY(10000);
    overflow: hidden;
  }
}
