.modal {
  position: fixed;
  top: 25%;
  left: 50%;
  border: 1px solid grey;
  padding: 30px;
  transform: translate(-50%, -50%);
  background-color: rgb(200, 200, 200);
  z-index: 100;
  margin: auto;
  display: block;
  border-radius: 10px;
}
.logo {
  background-color: blue;
  height: 20px;
  padding: 15px;
  border-radius: 15px;
}
